workflow1.json
{
  "name": "workflow1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -840,
        340
      ],
      "id": "9fb03893-1f78-411b-9ef1-171e1519534b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "2d318c99-4e83-4a50-957c-699fc14b398e",
              "leftValue": "={{ $json.isSitemapRedirectedExternal }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ true }}",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        340
      ],
      "id": "261f43ea-4fe3-425f-acc7-ec0615fbabee",
      "name": "If"
    },
    {
      "parameters": {
        "url": "=https://{{$json.Domain}}/robots.txt",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -380,
        240
      ],
      "id": "ce9b265d-abc3-40c8-992e-9749fc0ac26c",
      "name": "Check robots",
      "executeOnce": false,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        80,
        300
      ],
      "id": "d4dc967d-8e43-46fd-9dbf-083d57a65878",
      "name": "Merge",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://{{ $json.Domain }}/favicon.ico",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -380,
        580
      ],
      "id": "ac31af62-9f7d-4f38-83be-355a8f4f42de",
      "name": "Check favicon.ico",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c31780ca-8993-4cc3-b231-8ca25cab0ab3",
              "name": "robots",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -200,
        240
      ],
      "id": "280eddb9-966f-4d8d-99a8-638eb8fdb3a5",
      "name": "robots"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3d4dfe42-ae4a-49d6-8f33-b0951f3f9c31",
              "name": "ads",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -200,
        420
      ],
      "id": "26d57a9d-2a6d-4c41-9ce7-a4072a3a7528",
      "name": "ads"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "893118868858486794",
          "mode": "list",
          "cachedResultName": "Class-21DTHD4",
          "cachedResultUrl": "https://discord.com/channels/893118868858486794"
        },
        "channelId": {
          "__rl": true,
          "value": "1381937252145565736",
          "mode": "list",
          "cachedResultName": "test-bot",
          "cachedResultUrl": "https://discord.com/channels/893118868858486794/1381937252145565736"
        },
        "content": "=Cập Nhật Sheets Thành Công !!! ",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        960,
        420
      ],
      "id": "edc9d672-fe9c-450a-9536-148daa173651",
      "name": "Report Update",
      "webhookId": "6784927e-d59b-440e-9060-138796cec51e",
      "retryOnFail": true,
      "credentials": {
        "discordBotApi": {
          "id": "ehilCWUHvCvlkNWC",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "893118868858486794",
          "mode": "list",
          "cachedResultName": "Class-21DTHD4",
          "cachedResultUrl": "https://discord.com/channels/893118868858486794"
        },
        "channelId": {
          "__rl": true,
          "value": "1381937252145565736",
          "mode": "list",
          "cachedResultName": "test-bot",
          "cachedResultUrl": "https://discord.com/channels/893118868858486794/1381937252145565736"
        },
        "content": "=🚨 Cảnh báo khẩn cấp: Sitemap của domain {{$json[\"Domain\"]}} đã bị chuyển hướng sang site lạ 🚨\n",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        600,
        260
      ],
      "id": "19e179f2-d454-4c73-b6e3-a23dd7c56e86",
      "name": "Report Error",
      "webhookId": "6784927e-d59b-440e-9060-138796cec51e",
      "credentials": {
        "discordBotApi": {
          "id": "ehilCWUHvCvlkNWC",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://{{$json[\"Domain\"]}}/sitemap.xml",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -380,
        80
      ],
      "id": "5fab3183-654e-4001-9bed-9596e8aa1cef",
      "name": "Check sitemap",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "915c608f-15d7-4013-b25d-019595ed4cb0",
              "name": "sitemap",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -200,
        80
      ],
      "id": "dbb145c4-84cb-4ae8-abf4-391b0c5908ae",
      "name": "Sitemap"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1egf97U7bP1wfu1tjhqwLdgVS0R5D3PjDmMSW_xVT8Tk",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1egf97U7bP1wfu1tjhqwLdgVS0R5D3PjDmMSW_xVT8Tk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1egf97U7bP1wfu1tjhqwLdgVS0R5D3PjDmMSW_xVT8Tk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -660,
        340
      ],
      "id": "58dc9070-3d16-4bd7-8678-87df763d2c14",
      "name": "Get Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IjpXTE2sOgiJcWq1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://{{$json.Domain}}/ads.txt",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -380,
        420
      ],
      "id": "dc9767ba-6eba-4e8b-99f9-b55f3ec9d306",
      "name": "Check ads",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        780,
        420
      ],
      "id": "b446f27e-2d88-4bc3-bfc3-ca49c2169d2a",
      "name": "Limit",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1egf97U7bP1wfu1tjhqwLdgVS0R5D3PjDmMSW_xVT8Tk",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1egf97U7bP1wfu1tjhqwLdgVS0R5D3PjDmMSW_xVT8Tk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1egf97U7bP1wfu1tjhqwLdgVS0R5D3PjDmMSW_xVT8Tk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "Sitemap Status": "=",
            "Robots.txt Status": "=",
            "Ads Status": "=",
            "Last Checked": "=",
            "Sitemap URL": "=",
            "Favicon Status": "="
          },
          "matchingColumns": [
            "Domain"
          ],
          "schema": [
            {
              "id": "Domain",
              "displayName": "Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sitemap Status",
              "displayName": "Sitemap Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Robots.txt Status",
              "displayName": "Robots.txt Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Favicon Status",
              "displayName": "Favicon Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ads Status",
              "displayName": "Ads Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sitemap URL",
              "displayName": "Sitemap URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Checked",
              "displayName": "Last Checked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        600,
        420
      ],
      "id": "ee7f83b5-5697-4426-92fb-e4b27a5be0e6",
      "name": "Update Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IjpXTE2sOgiJcWq1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $input.item.json;\nconst binaryData = $binary[\"data\"];\n\n// Hàm xác định trạng thái theo nội dung\nfunction determineStatusBasedOnContent(itemContent, type = 'Default') {\n    let status = 'Chưa xác định';\n\n    if (typeof itemContent === 'string' && itemContent.length > 0) {\n        if (type === 'Ads') {\n            if (itemContent.includes('pub-') && itemContent.includes(',')) {\n                status = 'Hoạt động (Ads.txt tìm thấy trong nội dung)';\n            } else if (itemContent.includes('<html') && itemContent.includes('<body') && itemContent.includes('<title>n8n.io - Workflow Automation</title>')) {\n                status = `Không tìm thấy (${type} bị trả về HTML của n8n)`;\n            } else if (itemContent.includes('<html') && itemContent.includes('<body')) {\n                status = `Không phải Ads.txt (Nội dung là HTML khác)`;\n            } else {\n                status = 'Không phải Ads.txt (Nội dung Text không phù hợp)';\n            }\n        } else if (itemContent.includes('<html') && itemContent.includes('<body') && itemContent.includes('<title>n8n.io - Workflow Automation</title>')) {\n            status = `Không tìm thấy (${type} bị trả về HTML của n8n)`;\n        } else if (type === 'Sitemap') {\n            if (itemContent.includes('<?xml') && itemContent.includes('<sitemap')) {\n                status = 'Hoạt động (XML Sitemap)';\n            } else if (itemContent.includes('sitemap') || itemContent.includes('.xml')) {\n                status = 'Khả năng là Sitemap (Nội dung không phải XML chuẩn)';\n            } else if (itemContent.includes('<html') && itemContent.includes('<body')) {\n                status = 'Không phải Sitemap (Nội dung là HTML)';\n            } else {\n                status = 'Không phải Sitemap (Nội dung Text không phù hợp)';\n            }\n        } else if (type === 'Robots.txt') {\n            if (itemContent.includes('User-agent:') || itemContent.includes('Disallow:') || itemContent.includes('Allow:')) {\n                status = 'Hoạt động (Robots.txt)';\n            } else if (itemContent.includes('<html') && itemContent.includes('<body')) {\n                status = 'Không phải Robots.txt (Nội dung là HTML)';\n            } else {\n                status = 'Không phải Robots.txt (Nội dung Text không phù hợp)';\n            }\n        } else {\n            status = 'Nội dung không xác định';\n        }\n    } else {\n        status = 'Không có phản hồi hoặc nội dung rỗng';\n    }\n\n    return { status };\n}\n\n// Trích xuất sitemap URL đầu tiên\nfunction extractSitemapURL(content) {\n    if (typeof content === 'string') {\n        const match = content.match(/<loc>(.*?)<\\/loc>/);\n        if (match && match[1]) {\n            return match[1].trim();\n        }\n    }\n    return '';\n}\n\n// Xác định trạng thái Favicon dựa vào binary metadata\nfunction determineFaviconStatusFromBinary(binary) {\n    if (!binary) return \"Không có dữ liệu favicon\";\n\n    const mime = (binary.mimeType || \"\").toLowerCase().trim();\n    const fileName = (binary.fileName || \"\").toLowerCase().trim();\n    const fileExt = (binary.fileExtension || \"\").toLowerCase().trim();\n\n    if (mime.includes(\"text/html\") || fileExt === \"html\") {\n        return \"Không tìm thấy Favicon (Trả về HTML lỗi)\";\n    }\n\n    if (fileName === \"favicon.ico\" && (mime.includes(\"icon\") || fileExt === \"ico\")) {\n        return \"Tìm thấy Favicon (Hợp lệ)\";\n    }\n\n    if (mime.startsWith(\"image/\")) {\n        return \"Tìm thấy Favicon (Là ảnh nhưng không phải ICO chuẩn)\";\n    }\n\n    return \"Không xác định được Favicon (Loại tệp không rõ ràng)\";\n}\n\n// Tổng hợp kết quả\nconst now = new Date();\nconst lastChecked = now.toISOString();\n\nconst sitemapResult = determineStatusBasedOnContent(input.sitemap, 'Sitemap');\nconst robotsResult = determineStatusBasedOnContent(input.robots, 'Robots.txt');\nconst adsResult = determineStatusBasedOnContent(input.ads, 'Ads');\nconst sitemapURL = extractSitemapURL(input.sitemap);\nconst faviconStatus = determineFaviconStatusFromBinary(binaryData);\n\n// Trả kết quả\nreturn {\n    json: {\n        row_number: input.row_number,\n        Domain: input.Domain,\n        \"Sitemap Status\": sitemapResult.status,\n        \"Sitemap URL\": sitemapURL,\n        \"Robots.txt Status\": robotsResult.status,\n        \"Favicon Status\": faviconStatus,\n        \"Ads Status\": adsResult.status,\n        \"Last Checked\": lastChecked,\n        \"isSitemapRedirectedExternal\": false\n    }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        340
      ],
      "id": "27a5b111-7b41-41e8-9d8a-5e56639332dc",
      "name": "Handle",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Report Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Handle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check robots": {
      "main": [
        [
          {
            "node": "robots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check favicon.ico": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "robots": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "ads": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Report Error": {
      "main": [
        []
      ]
    },
    "Check sitemap": {
      "main": [
        [
          {
            "node": "Sitemap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sitemap": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sheets": {
      "main": [
        [
          {
            "node": "Check favicon.ico",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check robots",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check sitemap",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check ads",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Check ads": {
      "main": [
        [
          {
            "node": "ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Report Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheets": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "19c82f79-3133-46ea-8b4a-03e0233f0070",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5e3451f44755a098c54b6e08aa7e9e42fa5ec8d0df06ac210f9f78a89e850a3f"
  },
  "id": "fJFnQL4MFjuxg897",
  "tags": []
}